#sidebar a{color: rgb(var(--gray-80)) !important;}
#btn-menu{margin-bottom: 1rem;}
#sidebar .nav-item{padding: 0 1rem;}

#sidebar .nav-link, #sidebar .nav-item
{
    position: relative;
    font-size: 1.3rem !important;
}

#sidebar .dropdown-icon
{
    position: absolute;
    right: .7rem;
}

#sidebar
{
    position: fixed;
    width: 59px;
    height: 95vh;
    overflow: hidden auto;
    top: 40px;
    background-color: rgb(var(--gray-20));
    z-index: 9999;
}
/* width */
#sidebar::-webkit-scrollbar {
    width: 0px;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
    background: rgb(var(--gray-10)); 
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
    background: rgb(var(--gray-70)); 
}

/* Handle on hover */
#sidebar::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--gray-90)); 
}

#sidebar:not(.opened) span, #sidebar:not(.opened) .nav-item .dropdown-icon
{
    opacity: 0 !important;
}

#sidebar.opened{width: 100%;}

@media(min-width: 768px)
{
    #sidebar.opened{width: 40%;}
}

@media(min-width: 1024px)
{
    #sidebar.opened{width: 30%;}
}

@media(min-width: 1280px)
{
    #sidebar.opened{width: 21%;}
}
#sidebar span, #sidebar .nav-item .dropdown-icon, #sidebar #cblogomenu
{
    transition: .3s ease 0s;
    opacity: 1;    
}

#sidebar .nav-link{padding: 1rem;position: relative;left: 0.2rem;}
#sidebar li{padding: .5rem 0;padding-left: 40px;}
#sidebar ul{list-style: none;}
#sidebar a:hover{text-decoration: none;}
#sidebar div.ativo, #sidebar div[cbmodulo]:has(.ativo),
#sidebar div.nav-item:hover
{background-color: rgb(var(--gray-10));}

#sidebar li.ativo, #sidebar ul li:hover{background-color: rgba(var(--primary-color));}
#sidebar li.ativo, #sidebar a:hover li {color: rgb(var(--gray-10)) !important;}

.overlay
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(var(--gray-100), .6);
    z-index: -1;
    backdrop-filter: blur(1px);
    opacity: 0;
    transition: opacity .3s ease 0s,
                z-index 0s ease .3s;
}
.overlay:has(~ #sidebar.opened)
{
    transition: opacity .3s ease .1s,
                z-index 0s ease 0s;
    z-index: 999;opacity: 1;
}