.border {
    border: 1px solid #aaaaaa49;
}

.img-item .title {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.img-item .img {
    width: 30%;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}