.active a {
	background-color: #bbbbbb63 !important;
}

.desunidadeest {
	-webkit-appearance: none;
	background-color: #fcf8e3;
	border: none;
}

i.tip:hover {
	cursor: hand;
	position: relative;
}

i.tip span {
	display: none;
}

i.tip:hover span {
	border: #c0c0c0 1px dotted;
	padding: 5px 20px 5px 5px;
	display: block;
	z-index: 100;
	background: #f0f0f0 no-repeat 100% 5%;
	left: 0px;
	margin: 10px;
	width: 220px;
	position: absolute;
	top: 10px;
	text-decoration: none;
}

td.tip:hover {
	cursor: hand;
	position: relative;
}

td.tip span {
	display: none;
}

td.tip:hover span {
	border: #c0c0c0 1px dotted;
	padding: 5px 5px 5px 5px;
	display: block;
	z-index: 100;
	background: #f0f0f0 no-repeat 100% 5%;
	left: 0px;
	margin: 5px;
	width: 150px;
	position: absolute;
	top: 20px;
	text-decoration: none;
}

i.tip:hover {
	cursor: hand;
	position: relative;
}

i.tip span {
	display: none;
}

i.tip:hover span {
	border: #c0c0c0 1px dotted;
	padding: 5px 20px 5px 5px;
	display: block;
	z-index: 100;
	background: #f0f0f0 no-repeat 100% 5%;
	left: 0px;
	margin: 10px;
	width: 180px;
	position: absolute;
	top: 10px;
	text-decoration: none;
}

.td-label-inline {
	text-align: right !important;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}