/* Text styles */
.xr_s0 {font-family:Arial;font-weight:normal;font-style:normal;font-size:1.83px;text-decoration:none;color:#636466;background-color:Transparent;letter-spacing:0.093em;}
.xr_s1 {font-family:Arial;font-weight:normal;font-style:normal;font-size:19.5px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.xr_s2 {font-family:Arial;font-weight:normal;font-style:normal;font-size:15.24px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.xr_s3 {font-family:Arial;font-weight:normal;font-style:normal;font-size:10.67px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
