/* Text styles */
.xr_s0 {font-family:Arial;font-weight:normal;font-style:normal;font-size:4.49px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.xr_s1 {font-family:Arial;font-weight:normal;font-style:normal;font-size:6.55px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.xr_s2 {font-family:'Sans Serif Regular Italic';font-weight:normal;font-style:italic;font-size:5.51px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
