@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

html {
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
}

.custom-gradient {
    background: linear-gradient(200deg, #178B94, #001e33, #178B94),
                radial-gradient(56.66% 481.32% at 96.42% 24.66%, #178B94 0%, rgba(0, 0, 0, 0) 100%),
                radial-gradient(72.84% 1603.66% at 1.73% 26.86%, #178B94 0%, rgba(0, 0, 0, 0) 100%);
}

.primary-bg {
    background-color: #178b94  !important;
}

.primary-text {
    color: #178b94 !important;
}

.hidden {
    display: none !important;
}

#cbMenuSuperior-tailwind {
    background-color: #178b94;
    background-image: url(/inc/img/banner_menu.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 78px !important;
}
#cbMenuSuperior-tailwind h2.inner-menu-title{
    text-indent: 11vw;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px #444444a3;
}

#cbModal {
    display: none;
}

#cbModuloHeader {
    display: none;
}

/* Nice Scrollbar */
*::-webkit-scrollbar {
    width: 10px;
    background: #FFFFFF80;
    border-radius: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #FFFFFF80;
    border: 1px solid #FFFFFF80;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #9E9E9E;
}

.contato-menu-rapido .contato-menu-item {
    text-shadow: 1px 1px #00000085;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: flex-end;
    min-height: 15rem;
    display: flex;
    position: relative;
}

.contato-menu-rapido .contato-menu-item div {

    background: linear-gradient(180deg, #178b94 1.88%, #178b94 100%), url(/inc/img/contatomenurapido/background.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
}

.tailwind .card-panel {
    background: linear-gradient(182deg, #2DD6C1, #178B94, #003664);
    border-radius: 10px;
    color: white;
    padding: .5rem 1.5rem;
}

/* transitions */
/* .slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s ease;
}
.slide-enter {
  transform: translateY(0%);
}
.slide-leave-to {
  transform: translateY(-100%);
} */